@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Calligraffitti:wght@100;300;400;700&display=swap");

/*Page level styles */
* {
  box-sizing: border-box;
  font-family: Lato, sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
}

/* Text Styles */
.heroText,
h4,
span {
  font-weight: 320;
}
h4 {
  font-weight: 700;
  margin-bottom: 0.75rem;
}
span {
  display: block;
}

p {
  font-size: 1.3rem;
}

.paragraph {
  line-height: 1.7;
  width: 100%;
}

.heroParagraph {
  margin-top: 1rem;
  /* width: 100%; */
}

.splashy {
  font-family: Calligraffitti;
  overflow: visible;
  font-size: 5rem;
  display: block;
  color: rgb(255, 0, 193);
}

.heroLine {
  width: 100%;
  height: 3px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 255, 200);
  border: 0 none;
  border-radius: 30%;
  margin-top: 3%;
}

/* Background Image Styling */
.hero {
  background: url(./images/Roatan.jpg) fixed;
  background-size: cover;
  height: 70rem;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
  position: relative;
  width: 100vw;
}

.heroText {
  color: black;
  font-family: Lato, sans-serif;
  position: absolute;
  top: 22rem;
  bottom: 20rem;
  left: 80rem;
  border-radius: 20px 0px 0px 20px;
  padding: 2rem;
  background: rgba(255, 253, 208);
  animation: moveFromRight 1.5s;
}

.box-shadow {
  position: absolute;
  top: 30rem;
  bottom: 20rem;
  left: 80rem;
  border-radius: 20px 0px 0px 20px;
  padding: 2rem;
  width: 100%;
  box-shadow: 20px 15px rgba(0, 255, 255);
  animation: shadowFromRight 2.5s;
}

.box-shadow2 {
  position: absolute;
  top: 46.8rem;
  bottom: 20rem;
  left: 81.5rem;
  border-radius: 20px 0px 0px 20px;
  padding: 2rem;
  width: 100%;
  box-shadow: 20px 15px rgb(255, 240, 0);
  animation: shadowFromRight2 3.5s;
}

@keyframes moveFromRight {
  0% {
    transform: translateX(400px);
  }

  80% {
    transform: translate(0);
  }

  100% {
    transform: translate(0);
  }
}

@keyframes shadowFromRight {
  0% {
    opacity: 1;
    transform: translate(400px);
  }

  50% {
    opacity: 1;
  }

  80% {
    transform: translate(0);
  }

  100% {
    transform: translate(0);
  }
}
@keyframes shadowFromRight2 {
  0% {
    opacity: 1;
    transform: translate(400px);
  }

  50% {
    opacity: 1;
  }

  80% {
    transform: translate(0);
  }

  100% {
    transform: translate(0);
  }
}

/* Button Styles */
.button {
  background-color: #65f5d2;
  border-radius: 100px;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  margin-top: 40px;
  padding: 6px 27px;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.2s ease;
}
.button:hover {
  background-color: #12bb91;
}
.button:focus {
  outline: none;
}
.button:active,
.button:focus {
  background-color: #e95420;
}

.tabs {
  width: 100%;
}

.excursionOneImage {
  width: 40rem;
  height: 20rem;
  background-image: url("./images/horses.jpg");
  display: block;
  float: left;
  margin-top: 2%;
  margin-right: 2%;
}

.excursionTwoImage {
  width: 40rem;
  height: 20rem;
  background-image: url("./images/sloths.jpg");
  object-fit: cover;
  background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  float: left;
  margin-top: 2%;
  margin-right: 2%;
}

.excursionThreeImage {
  width: 40rem;
  height: 20rem;
  background-image: url("./images/zipline.jpg");
  float: left;
  margin-top: 2%;
  margin-right: 2%;
}

.excursionFourImage {
  width: 40rem;
  height: 20rem;
  background-image: url("./images/beach.jpg");
  float: left;
  margin-top: 2%;
  margin-right: 2%;
}

.excursionFiveImage {
  width: 40rem;
  height: 20rem;
  background-image: url("./images/atv.jpg");
  float: left;
  margin-top: 2%;
  margin-right: 2%;
}

.excursionSixImage {
  width: 40rem;
  height: 20rem;
  background-image: url("./images/tikibar.jpg");
  float: left;
  margin-top: 2%;
  margin-right: 2%;
}

.excursionButtons {
  background: rgba(0, 255, 255);
}

.excursionTitle {
  font-size: 2rem;
}

.excursionText {
  margin-top: 2%;
}

/* Media Queries */
@media screen and (max-width: 1919px) {
  h4 {
    font-size: 15px;
  }
  span {
    font-size: 30px;
  }
  p {
    font-size: 15px;
    margin-top: 10px;
  }
  .hero {
    height: 100vh;
    background-attachment: scroll;
  }
  .heroText {
    position: absolute;
    height: 35rem;
    left: 70rem;
    top: 17rem;
    overflow: hidden;
  }

  .box-shadow {
    position: absolute;
    left: 70.2rem;
    top: 18.2rem;
    height: 50vh;
    border-radius: 20px 0px 0px 20px;
    padding: 2rem;
    width: 100%;
    box-shadow: 20px 15px rgba(0, 255, 255);
    animation: shadowFromRight 2.5s;
  }

  .box-shadow2 {
    position: absolute;
    left: 71.8rem;
    top: 19rem;
    height: 50vh;
    border-radius: 20px 0px 0px 20px;
    padding: 2rem;
    width: 100%;
    box-shadow: 20px 15px rgb(255, 240, 0);
    animation: shadowFromRight2 3.5s;
  }
  .heroContainer {
    height: 50rem;
  }
  .paragraph {
    width: 75%;
  }

  .splashy {
    margin-top: 10px;
    font-size: 7em;
  }

  .heroLine {
    margin-top: 2px;
  }

  .button {
    margin-top: 10px;
    margin-left: 10px;
  }
  @media only screen and (max-height: 900px) {
    .heroText {
      font-size: 0.5em;
      top: 2rem;
      height: 20rem;
    }

    .heroParagraph {
      margin-top: 0;
      width: 100%;
    }

    .excursionTitle {
      font-size: 1.3em;
    }
    .excursionOneImage {
      width: 100vw;
    }
    p {
      font-size: 15px;
      margin-top: 10px;
      width: 100%;
    }

    .heroText {
      /* position: absolute; */
      height: 25rem;
      left: 70rem;
      top: 19.9rem;
      overflow: hidden;
    }
  }

  @media only screen and (max-height: 500px) {
    .heroText {
      font-size: 0.5em;
      top: 1rem;
      left: 20rem;
      height: 18rem;
    }
    .box-shadow {
      display: none;
    }
    .box-shadow2 {
      display: none;
    }

    .heroParagraph {
      margin-top: 0;
      width: 100%;
    }

    .excursionTitle {
      font-size: 1em;
    }
    .excursionOneImage {
      width: 100vw;
    }
    p {
      font-size: 12px;
      margin-top: 10px;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 1500px) {
  h4 {
    font-size: 15px;
  }
  span {
    font-size: 30px;
  }
  p {
    font-size: 15px;
    margin-top: 10px;
    width: 100vw;
  }
  .hero {
    width: 100%;
    background-attachment: scroll;
  }
  .heroText {
    position: absolute;
    height: 27.2rem;
    left: 14rem;
    top: 7rem;
    overflow: hidden;
  }

  .box-shadow {
    position: absolute;
    left: 14rem;
    top: -5.9rem;
    height: 50vh;
    border-radius: 20px 0px 0px 20px;
    padding: 2rem;
    width: 100%;
    box-shadow: 20px 15px rgba(0, 255, 255);
    animation: shadowFromRight 2.5s;
  }

  .box-shadow2 {
    position: absolute;
    left: 15.4rem;
    top: -4.9999999rem;
    height: 50vh;
    border-radius: 20px 0px 0px 20px;
    padding: 2rem;
    width: 100%;
    box-shadow: 20px 15px rgb(255, 240, 0);
    animation: shadowFromRight2 3.5s;
  }
  .heroContainer {
    height: 50rem;
  }
  .paragraph {
    line-height: 1.7;
    width: 70%;
    font-size: 40em;
  }

  .splashy {
    margin-top: 10px;
  }

  .heroLine {
    margin-top: 2px;
  }

  .button {
    margin-top: 10px;
    margin-left: 10px;
  }
  @media only screen and (max-height: 900px) {
    .heroParagraph {
      margin-top: 0;
      width: 100%;
    }

    .excursionTitle {
      font-size: 1.3em;
    }
    .excursionOneImage {
      width: 100vw;
    }
    p {
      font-size: 15px;
      margin-top: 10px;
      width: 100%;
    }

    .heroText {
      position: absolute;
      height: 20rem;
      left: 18rem;
      top: 10rem;
      overflow: hidden;
    }
    .box-shadow {
      position: absolute;
      left: 18rem;
      top: 10rem;
      height: 39.5vh;
      border-radius: 20px 0px 0px 20px;
      padding: 2rem;
      width: 100%;
      box-shadow: 20px 15px rgba(0, 255, 255);
      animation: shadowFromRight 2.5s;
    }

    .box-shadow2 {
      position: absolute;
      left: 19rem;
      top: 10.9rem;
      height: 39.5vh;
      border-radius: 20px 0px 0px 20px;
      padding: 2rem;
      width: 100%;
      box-shadow: 20px 15px rgb(255, 240, 0);
      animation: shadowFromRight2 3.5s;
    }
  }

  @media only screen and (max-height: 500px) {
    .heroText {
      font-size: 0.5em;
      top: 1rem;
      left: 20rem;
      height: 18rem;
    }
    .box-shadow {
      display: none;
    }
    .box-shadow2 {
      display: none;
    }

    .heroParagraph {
      margin-top: 0;
      width: 100%;
    }

    .excursionTitle {
      font-size: 1em;
    }
    .excursionOneImage {
      width: 100vw;
    }
    p {
      font-size: 12px;
      margin-top: 10px;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 700px) {
  .heroText {
    position: absolute;
    height: 12rem;
    top: 1rem;
    height: 13rem;
    animation: none;
    overflow: hidden;
  }
  .hero {
    height: 30vh;
    width: 100%;
    display: block;
  }
  h4 {
    font-size: 7px;
  }
  span {
    font-size: 12px;
  }
  p {
    font-size: 12px;
    margin-top: 10px;
    width: 100%;
  }
  .paragraph {
    line-height: 1.7;
    width: 60%;
    font-size: 40em;
  }
  .heroLine {
    margin-top: 0px;
    width: 100%;
  }
  .splashy {
    font-size: 17px;
    margin-top: -10px;
  }

  .heroParagraph {
    margin-top: 0;
    width: 100%;
  }

  .excursionTitle {
    font-size: 20px;
  }

  .button {
    display: none;
  }

  .box-shadow {
    display: none;
  }

  .box-shadow2 {
    display: none;
  }

  @media only screen and (max-height: 900px) {
    .heroText {
      font-size: 0.5em;
      top: 2rem;
      height: 20rem;
    }

    .heroParagraph {
      margin-top: 0;
      width: 100%;
    }

    .excursionTitle {
      font-size: 1.3em;
    }
    .excursionOneImage {
      width: 100vw;
    }
    p {
      font-size: 15px;
      margin-top: 10px;
      width: 100%;
    }

    .heroText {
      position: absolute;
      height: 25rem;
      left: 80rem;
      top: 25rem;
      overflow: hidden;
    }
  }

  @media only screen and (max-height: 500px) {
    .heroText {
      font-size: 0.5em;
      top: 1rem;
      left: 20rem;
      height: 18rem;
    }
    .box-shadow {
      display: none;
    }
    .box-shadow2 {
      display: none;
    }

    .heroParagraph {
      margin-top: 0;
      width: 100%;
    }

    .excursionTitle {
      font-size: 1em;
    }
    .excursionOneImage {
      width: 100vw;
    }
    p {
      font-size: 12px;
      margin-top: 10px;
      width: 100%;
    }
  }
  @media only screen and (max-height: 376px) {
    .excursionTitle {
      font-size: 0.8rem;
    }

    .hero {
      width: 100%;
      height: 100vh;
    }

    .heroText {
      top: 8rem;
      left: 16rem;
    }
  }
}

@media only screen and (max-width: 699px) {
  .heroText {
    position: absolute;
    height: 12rem;
    top: 0.5rem;
    left: 3rem;
    height: 10rem;
    animation: none;
    overflow: hidden;
  }
  .hero {
    height: 30vh;
    width: 100%;
    display: block;
  }
  h4 {
    font-size: 7px;
  }
  span {
    font-size: 12px;
  }
  p {
    font-size: 12px;
    margin-top: 10px;
    width: 100%;
    text-align: justify;
  }
  .heroParagraph {
    font-size: 11px;
    text-align: justify;
  }
  .paragraph {
    line-height: 1.7;
    width: 60%;
    font-size: 40em;
  }
  .heroLine {
    margin-top: 0px;
    width: 100%;
  }
  .splashy {
    font-size: 17px;
    margin-top: -10px;
  }

  .heroParagraph {
    margin-top: 0;
    width: 100%;
  }

  .excursionTitle {
    font-size: 20px;
  }

  .button {
    display: none;
  }

  .box-shadow {
    display: none;
  }

  .box-shadow2 {
    display: none;
  }

  @media only screen and (max-height: 500px) {
    .heroText {
      font-size: 0.5em;
      top: 1rem;
      left: 20rem;
      height: 12rem;
    }
    .box-shadow {
      display: none;
    }
    .box-shadow2 {
      display: none;
    }

    .heroParagraph {
      margin-top: 0;
      width: 100%;
    }

    .excursionTitle {
      font-size: 1em;
    }
    .excursionOneImage {
      width: 100vw;
    }
    p {
      font-size: 12px;
      margin-top: 10px;
      width: 100%;
    }
  }
  @media only screen and (max-height: 376px) {
    .excursionTitle {
      font-size: 0.8rem;
    }

    .hero {
      width: 100%;
      height: 100vh;
    }

    .heroText {
      top: 8rem;
      left: 16rem;
    }
  }
}
